@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;



    //  var seriesTitle2 = "Legend of Korra: Turf Wars";
    //  var issueNumber2 = '?';
    //    var description2 = "<p>New beginnings for Korra and Asami!</p>";
    //    var artists2 = new string[]
    //    {
    //        "Script: Michael Dante DiMartino",
    //        "Artist: Irene Koh",
    //        "Colors: Killian Ng",
    //        "Letters: Nate Piekos"
    //    };
    //    var imageUrl2 = "https://images-na.ssl-images-amazon.com/images/I/91lVcdZHSWL.jpg";
}

<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label> @Model.IssueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            @if (Model.Artists.Length > 0)
            {
                <h5>Artists:</h5>
                <div>
                    <ul>
                        @foreach (var artist in Model.Artists)
                        {
                            <li>@artist.Role: @artist.Name</li>
                        }
                    </ul>
                </div>
            }
        </div>
        <h5>Description:</h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>